@tailwind base;
@tailwind components;
@tailwind utilities;

/* Works for Chrome, Edge, Safari */
/* index.css */

/* GLOBAL SCROLLBAR (applies to whole app) */
html {
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: #5795c2 #f1f1f1; /* thumb | track */
}

html::-webkit-scrollbar {
  width: 8px;
}

html::-webkit-scrollbar-track {
  background: #f1f1f1;
}

html::-webkit-scrollbar-thumb {
  background-color: #2563eb;
  border-radius: 10px;
}

/* Target the content wrapper inside the popup */
.react-datepicker__month-container,
.react-datepicker__time-container {
  margin: 0; /* remove default margins */
}

.react-datepicker__triangle {
  display: none; /* optional, hide the arrow if ugly */
}

/* Flex the internal wrapper (calendar + time) */
.react-datepicker {
  display: inline-block !important; /* keep popup size */
}

.react-datepicker__month-container,
.react-datepicker__time-container {
  display: flex;
}

.react-datepicker__month-container {
  flex: 1;
}

.react-datepicker__time-container {
  flex: 0 0 120px; /* lock sidebar width */
}



