@tailwind base;
@tailwind components;
@tailwind utilities;

/* Works for Chrome, Edge, Safari */
/* index.css */

/* GLOBAL SCROLLBAR (applies to whole app) */
html {
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: #5795c2 #f1f1f1; /* thumb | track */
}

html::-webkit-scrollbar {
  width: 8px;
}

html::-webkit-scrollbar-track {
  background: #f1f1f1;
}

html::-webkit-scrollbar-thumb {
  background-color: #2563eb;
  border-radius: 10px;
}

/* Root popup stays inline-block */
.react-datepicker {
  display: inline-block !important;
}

/* Place month + time side by side */
.react-datepicker__month-container,
.react-datepicker__time-container {
  display: inline-block;
  vertical-align: top;
}

/* Lock time sidebar width */
.react-datepicker__time-container {
  width: 120px;
  margin-left: 8px; /* add a little spacing from calendar */
}

/* Prevent time list from stretching */
.react-datepicker__time {
  width: 100%;
  box-sizing: border-box;
}


